<!DOCTYPE>
<html>

<head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
    <div id="app">
        <p v-if="mode == 1">V-if</p>
        <template v-else-if="mode == 2">
          <div>
            <p>Else-if</p>
          </div>
        </template>
        <p v-else>V-else</p>

        <p v-show="mode == 2">Hai hai hai</p>

        <select v-model="mode">
        <option value="1">V-if</option>
        <option value="2">V-else-if</option>
        <option value="3">V-else</option>
      </select>
    </div>

    <script src="https://unpkg.com/vue@next "></script>
    <script src="app.js "></script>
</body>

</html>