<!DOCTYPE html>
<html>

<head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
    <div id="app" v-cloak>
        <p>{{fullName()}}</p>
        <p>
            <a v-bind:href="url" target="_blank">Google</a>
        </p>
        <p v-html="source_url"></p>
        <p>Age: {{age}}</p>
        <hr>

        <label>Add your first name</label>
        <input type="text" v-model="firstName">
        <br>

        <label>Add your middle name</label>
        <input type="text" @keyup.enter="updateMiddleName">
        <br>

        <label>Add your last name</label>
        <br>
        <input type="text " v-model="lastName" @input.prevent="updateLastName('Name has been updated', $event)">

        <br>
        <button type="button" v-on:click="increment">Increment</button>
        <button type="button" v-on:click="age--">Decrement</button>
    </div>
    <!-- <div id="app2 ">
        {{firstName}} {{lastName}}
    </div>
    <div>Hai!</div> -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js "></script>
    <script src="app.js "></script>
</body>

</html>