<!DOCTYPE html>
<html>

<head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
    <div id="app" v-cloak>
        <p> {{fullName()}}</p>
        <p>
            <a v-bind:href="url" target="_blank">Google</a>
        </p>
        <hr>

        <label>Add your first name</label>
        <input type="text" v-model="firstName">

        <label>Add your last name</label>
        <br>
        <input type="text " v-model="lastName">
    </div>
    <!-- <div id="app2 ">
        {{firstName}} {{lastName}}
    </div>
    <div>Hai!</div> -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js "></script>
    <script src="app.js "></script>
</body>

</html>